services:
  - type: web
    name: backend
    env: docker
    rootDir: backend
    dockerfilePath: backend/Dockerfile
    plan: free
    autoDeploy: true
    envVars:
      - key: DATABASE_URL
        sync: false
